body{
color:white;
background-color:rgba(24, 24, 26, 0.9);
}
#principal{
    background-color:#4650d9;
    text-align:center;
    padding:5px;
    padding-bottom:10px
    margin:10px
}
.card-body>p{
    color:black;
}
h2{
    color:black;
}
.btn{
    background-color:magenta;
    color:white;

    font-family:sans-serif;
    border-radius:4px;
    text-shadow: 1px 1px;
    position:relative;
    left:90%;
}
